<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Halaman Login</title>
  </head>
  <body>
    <div class="form-wrapper">
      <h2 class="form-title">NGAWURRR🗿</h2>
      <p class="form-detail">User atau Password yang anda masukkan SALAH.</p>
      <a href="{{ url_for('index') }}" class="form-link">
        Silahkan Kembali Ke Halaman Utama kami
      </a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
